* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.1%;
  line-height: 1.6;
  box-sizing: border-box;
  background-attachment: fixed;
}
body {
  margin: 0px;
  font-size: 0.9rem;
  line-height: 1.7;
  color: rgb(108, 108, 108);
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
