* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  max-width: 1300px;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
}
.main {
  grid-area: 1/1/-1/3;
  background-color: aqua;
}
.right1 {
  background-color: bisque;
}
.right2 {
  background-color: bisque;
}
