* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #212121;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}
.menu {
  width: 40px;
  background-color: #f5f5f5;
  padding: 30px 0;
}
.menu nav {
  width: 100%;
  height: 100%;
  text-align: center;
}
.menu ul {
  display: grid;
  align-content: space-between;
  height: 100%;
}
.menu i {
  font-size: 13px;
}
.music-player {
  grid-column: 1/ -1;
  padding: 20px 10px 20px 20px;
  background-color: #944100;
  color: #fff;
}
.playlist-detail {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 225px 1fr;
  padding: 20px;
  background-color: #4e4e4e;
  color: #fff;
}

.media-content {
  display: grid;
  align-content: space-between;
}
.song-detail ul li + li {
  margin-top: 20px;
}
.action-song {
  padding-bottom: 10px;
}
.action-song button + button {
  margin-left: 10px;
}
.song-player {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px 1fr;
}
.song-list {
  counter-reset: step-counter;
  padding: 10px;
  border: 1px solid #f2f2f2;
}
.list-item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.song-title::before {
  counter-increment: step-counter;
  content: counter(step-counter) ". ";
}
.list-item > div {
  height: 45px;
  line-height: 45px;
}
.list-item:nth-child(even) {
  background: #f2f2f2;
}
.song-title,
.singer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.music-player {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 1fr 1fr;
  padding: 20px 10px 20px 20px;
  background-color: #944100;
  color: #fff;
}
.music-player img {
  width: 50px;
  margin-right: 10px;
}
.music-player .song-detail {
  display: grid;
  align-content: space-between;
}
.song-player {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px 1fr;
}
.player-controls {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  justify-content: space-between;
}
