*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

}
.box{
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;
}
.box-item{
  width: calc(33.33% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
}
.box-img{
  -webkit-border-top-right-radius: 200px;
-webkit-border-bottom-left-radius: 200px;
-moz-border-radius-topright: 200px;
-moz-border-radius-bottomleft: 200px;
border-top-right-radius: 200px;
border-bottom-left-radius: 200px;
}
img{
  max-width: 100%;
}